@{
    ViewData["Gaza2"] = "Gaza2";
}
 <div class="slideshow-container">
     <div class="slides" style="background-image: url('../img/gaza.png')"></div>
     <div class="slides" style="background-image: url('../img/Rectangle\ 5.png')"></div>
     <div class="slides" style="background-image: url('../img/Rectangle\ 23.png')"></div>

     <div class="text" id="slide-text">
         <h2>ميناء غزة</h2>
         <p>
             "ميناء غزة... نافذة فلسطين على البحر منذ آلاف السنين، شهد أمواج التاريخ وحمل أحلام البحّارة والتجار عبر
             الأزمنة."
         </p>
         <a href="#" class="button">ابدأ جولتك الآن</a>
     </div>

     <a class="next" onclick="plusSlides(1)">&#10095;</a>
     <a class="prev" onclick="plusSlides(-1)">&#10094;</a>

     <div class="dots">
         <span class="dot" onclick="currentSlide(1)"></span>
         <span class="dot" onclick="currentSlide(2)"></span>
         <span class="dot" onclick="currentSlide(3)"></span>
     </div>
 </div>
<!-- 4 -->
<div class="custom-content-wrapper">
    <div class="custom-header-section">
        <h2 class="custom-content-title">قرى مدينة غزة</h2>
    </div>
    <div class="custom-card-gallery">
        <div class="custom-card-item">
            <img src="../img/222.png" alt="الصميرات">
            <p>النصيرات<br>جنوب وسط قطاع غزة<br>السكان: حوالي 7,000 نسمة<br>التجارة والصناعات الغذائية</p>
        </div>
        <div class="custom-card-item custom-highlight">
            <img src="../img/226.png" alt="دير البلح">
            <p>دير البلح<br>جنوب وسط قطاع غزة<br>السكان: حوالي 50,000 نسمة<br>زراعة الحمضيات والتمور</p>
        </div>
        <div class="custom-card-item">
            <img src="../img/224.png" alt="بيت لاهيا">
            <p>بيت لاهيا<br>شمال قطاع غزة<br>السكان: حوالي 50,000 نسمة<br>الزراعة وصيد الأسماك</p>
        </div>
        <div class="custom-card-item">
            <img src="../img/225.png" alt="جباليا">
            <p>جباليا<br>شمال قطاع غزة<br>السكان: حوالي 150,000 نسمة<br>التجارة والصناعات الخفيفة</p>
        </div>
        <div class="custom-card-item">
            <img src="../img/223.png" alt="بيت حانون">
            <p>بيت حانون<br>شمال قطاع غزة<br>السكان: حوالي 60,000 نسمة<br>الزراعة والصناعات الحرفية</p>
        </div>
    </div>
    <div class="custom-info-section">
        <div class="custom-detail-card">
            <div class="custom-detail-content">
                <h3>البريج</h3>
                <p>الموقع: المنطقة الوسطى في قطاع غزة.</p>
                <p>السكان: حوالي 25,000 نسمة.</p>
                <p>المعالم البارزة: الزراعة، البيوت البلاستيكية.</p>
                <p>الأنشطة الرئيسية: الزراعة.</p>
            </div>
            <img src="../img/227.png" alt="البريج">
        </div>
        <div class="custom-detail-card">
            <div class="custom-detail-content">
                <h3>المغازي</h3>
                <p>الموقع: المنطقة الوسطى في قطاع غزة.</p>
                <p>السكان: حوالي 30,000 نسمة.</p>
                <p>المعالم البارزة: الزراعة والأنشطة التجارية.</p>
                <p>الأنشطة الرئيسية: التجارة والبناء.</p>
            </div>
            <img src="../img/005.png" alt="المغازي">
        </div>
    </div>
</div>
<!-- 5 -->
<div class="custom-main-container">
    <div class="custom-title-section">
        <h2 class="custom-header-title">قرى مدينة غزة</h2>
    </div>
    <div class="custom-image-gallery">
        <div class="custom-gallery-item">
            <img src="../img/222.png" alt="الصميرات">
            <p>النصيرات <br>جنوب وسط قطاع غزة<br>السكان: حوالي 7,000 نسمة<br>التجارة والصناعات الغذائية</p>
        </div>
        <div class="custom-gallery-item custom-special-highlight">
            <img src="../img/226.png" alt="دير البلح">
            <p>دير البلح<br>جنوب وسط قطاع غزة<br>السكان: حوالي 50,000 نسمة<br>زراعة الحمضيات والتمور</p>
        </div>
        <div class="custom-gallery-item">
            <img src="../img/224.png" alt="بيت لاهيا">
            <p>بيت لاهيا<br>شمال قطاع غزة<br>السكان: حوالي 50,000 نسمة<br>الزراعة وصيد الأسماك</p>
        </div>
        <div class="custom-gallery-item">
            <img src="../img/225.png" alt="جباليا">
            <p>جباليا<br>شمال قطاع غزة<br>السكان: حوالي 150,000 نسمة<br>التجارة والصناعات الخفيفة</p>
        </div>
        <div class="custom-gallery-item">
            <img src="../img/223.png" alt="بيت حانون">
            <p>بيت حانون<br>شمال قطاع غزة<br>السكان: حوالي 60,000 نسمة<br>الزراعة والصناعات الحرفية</p>
        </div>
    </div>
    <div class="custom-details-section">
        <div class="custom-info-card">
            <div class="custom-info-content">
                <h3>البريج</h3>
                <p>الموقع: المنطقة الوسطى في قطاع غزة.</p>
                <p>السكان: حوالي 25,000 نسمة.</p>
                <p>المعالم البارزة: الزراعة، البيوت البلاستيكية.</p>
                <p>الأنشطة الرئيسية: الزراعة.</p>
            </div>
            <img src="../img/227.png" alt="البريج">
        </div>
        <div class="custom-info-card">
            <div class="custom-info-content">
                <h3>المغازي</h3>
                <p>الموقع: المنطقة الوسطى في قطاع غزة.</p>
                <p>السكان: حوالي 30,000 نسمة.</p>
                <p>المعالم البارزة: الزراعة والأنشطة التجارية.</p>
                <p>الأنشطة الرئيسية: التجارة والبناء.</p>
            </div>
            <img src="../img/005.png" alt="المغازي">
        </div>
    </div>
</div>
