@{
    ViewData["Title"] = "اتصل بنا";
}
<div class="c1">
    <div class="c2">
        <h2>
            "نسعد بسماعكم!"
        </h2>
        <p>
            "نرحب بجميع استفساراتكم واقتراحاتكم! لا تترددوا في التواصل معنا لمشاركة أفكاركم أو لمزيد من المعلومات عن
            التراث الفلسطيني."
        </p>
    </div>
</div>
<!-- 4 -->
<div class="c3">
    <h1 class="c4">تواصل معنا</h1>
    <p class="c5">أي أسئلة أو ملاحظات؟ فقط اكتب لنا رسالة</p>
    <div class="c6">
        <div class="c7">
            <form>
                <div class="c8 c9">
                    <div class="c10">
                        <input type="text" placeholder="الاسم الأول">
                    </div>
                    <div class="c10">
                        <input type="text" placeholder="الاسم الثاني">
                    </div>
                </div>
                <div class="c8 c11">
                    <div class="c10">
                        <input type="email" placeholder="البريد الإلكتروني">
                    </div>
                    <div class="c10 c12">
                        <span>972+</span>
                        <input type="tel" placeholder="رقم الجوال">
                    </div>
                </div>
                <div class="c10">
                    <textarea placeholder="الرسالة" rows="4"></textarea>
                </div>
                <button type="submit" class="c13">إرسال</button>
            </form>
        </div>
        <div class="c14">
            <div class="c15"></div>
            <h2>معلومات التواصل</h2>
            <p>نحن سعداء لتقديم محادثة مباشرة</p>
            <div class="c16">
                <p>1012 3456 789+</p>
                <p>demo@gmail.com</p>
                <p>شارع التراث، القدس، فلسطين</p>
            </div>
            <div class="c17">
                <a href="#"><i class="fab fa-whatsapp"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
