/*
    3
*/

.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    margin: 20px;
}

.slides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.button {
    background-color: olive;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 70px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

.dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.active {
    background-color: olive;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    right: 0;
    border-radius: 0 3px 3px 0;
}

/*
    4
*/
.custom-slideshow-container {
    position: relative;
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    margin: 20px auto; /* Center the container horizontally */
}

.custom-slides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

.custom-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.custom-button {
    background-color: olive;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 70px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

.custom-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.custom-dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
}

.custom-active {
    background-color: olive;
}

.custom-prev,
.custom-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.custom-next {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.custom-prev {
    right: 0;
    border-radius: 0 3px 3px 0;
}

/* 4 */
.custom-content-wrapper {
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: center; /* Center text within the wrapper */
}

.custom-header-section h2 {
    color: olive;
    text-align: center; /* Center the header text */
}

.custom-content-wrapper .custom-header-section h2::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid olive;
    margin-left: 10px;
}

.custom-content-wrapper .custom-header-section {
    padding-right: 40px;
    margin-right: 20px;
    text-align: center; /* Center the section content */
}

.custom-card-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.custom-card-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: calc(20% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

    .custom-card-item:hover {
        transform: scale(1.05);
    }

    .custom-card-item img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px;
        max-width: 300px;
        margin: 0 auto;
    }

    .custom-card-item p {
        padding: 10px;
        color: #555;
        font-size: 14px;
        text-align: center; /* Center the text inside the card */
    }

@media (max-width: 768px) {
    .custom-card-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .custom-card-item {
        width: calc(100% - 20px);
    }
}

.custom-info-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.custom-detail-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto; /* Center the card */
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

    .custom-detail-card:hover {
        transform: scale(1.02);
    }

    .custom-detail-card img {
        border-radius: 8px;
        width: 150px;
        height: auto;
        margin-left: 20px;
    }

.custom-detail-content {
    text-align: right;
}

    .custom-detail-content h3 {
        margin: 0 0 10px;
        color: #333;
    }

    .custom-detail-content p {
        margin: 5px 0;
        color: #555;
        font-size: 14px;
    }

@media (max-width: 768px) {
    .custom-detail-card {
        width: calc(100% - 20px);
    }
}

.custom-main-container {
    margin: 0 auto;
    padding-bottom: 10px;
}

.custom-title-section h2 {
    color: olive;
    text-align: center; /* Center the title */
}

.custom-main-container .custom-title-section h2::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid olive;
    margin-left: 10px;
}

.custom-main-container .custom-title-section {
    padding-right: 40px;
    margin-right: 20px;
    text-align: center; /* Center the section content */
}

.custom-image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.custom-gallery-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: calc(20% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

    .custom-gallery-item:hover {
        transform: scale(1.05);
    }

    .custom-gallery-item img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 8px;
        max-width: 300px;
        margin: 0 auto;
    }

    .custom-gallery-item p {
        padding: 10px;
        color: #555;
        font-size: 14px;
        text-align: center; /* Center the text inside the gallery item */
    }

@media (max-width: 768px) {
    .custom-gallery-item {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .custom-gallery-item {
        width: calc(100% - 20px);
    }
}

.custom-details-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.custom-info-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto; /* Center the card */
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

    .custom-info-card:hover {
        transform: scale(1.02);
    }

    .custom-info-card img {
        border-radius: 8px;
        width: 150px;
        height: auto;
        margin-left: 20px;
    }

.custom-info-content {
    text-align: right;
}

    .custom-info-content h3 {
        margin: 0 0 10px;
        color: #333;
    }

    .custom-info-content p {
        margin: 5px 0;
        color: #555;
        font-size: 14px;
    }

@media (max-width: 768px) {
    .custom-info-card {
        width: calc(100% - 20px);
    }
}
